<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d6b1f2">  <td>20/07/22 15:57:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Demo.testClosure()[pri:0, instance:mvnPack.Demo@161aa04a]">&lt;&lt;testClosure</td> 
<td>&nbsp;</td>  <td>main@2050124277</td>   <td></td> </tr>
<tr bgcolor="d6b1f2">  <td>20/07/22 15:56:53</td>   <td>-25796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo.testOne()[pri:0, instance:mvnPack.Demo@161aa04a]">testOne</td> 
  <td>main@2050124277</td>   <td></td> </tr>
</table>
